# GitHub Actions - CI for Go to build & test.  See ci-go-cover.yml and linters.yml for code coverage and linters.
# Stolen from: https://github.com/fxamacker/cbor/workflows/ci.yml (thanks!)
name: ci
on: [push, pull_request]
jobs:
  tests:
    name: Test on ubuntu-latest
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "1.18"
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build package and run tests
      run: |
        go version
        make
