# Go Linters - GitHub Actions
name: linters
on: [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: "1.18"
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install golangci-lint 
      run: |
        go version
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.47.0
    - name: Run required linters in .golangci.yml plus hard-coded ones here
      run: make -w GOLINT=$(go env GOPATH)/bin/golangci-lint lint
    - name: Run optional linters (not required to pass)
      run: make -w GOLINT=$(go env GOPATH)/bin/golangci-lint lint-extra
